.container {
    background-color: black;
    z-index: -1;
}

.meterior1 {
position: absolute;
top: 5%;
left: -2%;
}

.meterior2 {
position: absolute;
top: 5%;
right: 2%;
}

.planet {
position: absolute;
top: 25%;
left: 10%;
}

.satellite {
position: absolute;
top: 30%;
right: 10%;
}

.meterior3 {
position: absolute;
top: 50%;
left: -2%;
}

.astronaut {
position: absolute;
top: 60%;
left: 8%;
}

.small1 {
position: absolute;
top: 55%;
right: 7%;
}

.small2 {
position: absolute;
top:50%;
right: 8%;
}

.small3 {
position: absolute;
top:56%;
right: 5%;
}

.flyingMeterior {
position: absolute;
top: 75%;
left: 5%;
}

.meterior {
position: absolute;
top: 75%;
right: 20%;
}

.meterior4 {
position: absolute;
top: 80%;
right: 0%;
}

.background {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: -1;
}