.container {
    font-family: sans-serif;
    font-size: 1.5rem;
    /* z-index: 100; */
}

.header1 {
    position: absolute;
    text-align: center;
    top: 10%;
    left: 0; 
    right: 0; 
    margin: auto;
    width: fit-content;
    color: rgb(252, 234, 73);
}
  
.phone {
    position: absolute;
    text-align: center;
    color: rgb(252, 234, 73);
    top: 18%;
    left: 0; 
    right: 0; 
    margin: auto;
    width: fit-content;
    padding: 0.5rem;
    border: 1px solid rgb(252, 234, 73);
    border-radius: 5px;
}

.content1 {
    position: absolute;
    text-align: center;
    color: white;
    top: 40%;
    left: 0; 
    right: 0; 
    margin: auto;
    width: fit-content;
    line-height: 2;
}

.content2 {
    position: absolute;
    max-width: 600px;
    text-align: justify;
    color: white;
    top: 65%;
    font-size: 1rem;
    padding: 2rem;
    border: 1px solid;
    border-image: linear-gradient(
        to right, 
        rgb(252, 234, 73), 
        rgba(0, 0, 0, 0)
      ) 1;
    left: 0; 
    right: 0; 
    margin: auto;
}

.testimonial {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}